---
import Footer from "../components/Footer/index.jsx";
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav/index.jsx";
---

<html lang="en">
	<head>
		<MainHead title="About | Quinn Kleinfelter" description="About Quinn Kleinfelter" />
		<style lang="scss">
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;

				img {
					width: 100%;
				}
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Quinn</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="https://images.unsplash.com/photo-1581977012607-4091712d36f9?auto=format&fit=crop&w=1400&h=350&q=75"
				/>
			</div>
			<div class="bio wrapper wrapper__readable mt8">
				<section>
					<h2>Bio</h2>
					Hi! My name is Quinn Kleinfelter, and I am a software engineer at RoviSys based out of Aurora, Ohio.
					Before beginning this position I attended the University of Toledo and earned my Bachelor's of Science in
					Computer Science and Engineering. I primarily have worked in the Oil and Gas industry through RoiSys, 
					mostly doing web development. Outside of work, I love visiting new places, trying new food, and sports (especially 
					baseball and college football!).
				</section>
				<section>
					<h2>Prior Work</h2>
					Through my time in college I had the opportunity to complete 2 semesters as a co-op in the service
					department at <a href="https://dieboldnixdorf.com" target="_blank">Diebold Nixdorf</a>, in North Canton, Ohio. While at Diebold Nixdorf I primarily worked in
					<a href="https://splunk.com" target="_blank">Splunk</a> building dashboards and other data visualization tools for ATM service technicians and their
					managers. Additionally, I also worked for the <a href="https://hypixel.net" target="_blank">Hypixel Network</a> as a member of the Quality Assurance 
					team. While at Hypixel, I primarily reviewed, tested, and logged player submitted bug reports. 
					Additionally, I assisted in testing new features, games, and bug fixes before their release to the full
					playerbase. Finally, I developed updates for games on the network, both bug fix and new feature updates, 
					in Java.
					<br>
					Outside of the Software world I also worked at <a href="https://www.kroger.com" target="_blank">Kroger</a> for 2 and a half years in various functions in the 
					front end. I began my time at Kroger as a Courtesy Clerk, before eventually being promoted to Cashier 
					shortly after my 18th birthday. I also later was promoted to both Front Office Clerk & Front End 
					Supervisor, allowing me to build my leadership skills. 
				</section>
			</div>
		</div>
		<Footer />
	</body>
</html>
